<div class="container">
    <div class="mb-4">
      <h2>Public Recipes</h2>
    </div>
    
      <% @recipes.each do |recipe|%>
        <%= link_to controller: 'recipes', action: 'show', id: recipe.id do %>
          <div class="card  p-4 mb-3" >
            <div class="row">
              <div class="col-md-4">
                <h4><%= recipe.name %></h4>

                <span>By: <%= recipe.user.name %></span>
              </div>
               <div class="col-md-8">
                  <h6>Total food items: <%= recipe.recipe_foods.count %></h6>
                  <h6>Total price: $<%= recipe.recipe_foods.map { |rf| rf.food.price * rf.quantity }.sum %>
                  </h6>
               </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>


