<div class="container">
    <div class="d-flex justify-content-between items-center mb-4">
      <h2>Foods</h2>
      <%= link_to 'Add New Food', new_food_path, class: 'btn btn-primary' %>
    </div>



        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>Food</th>
                <th>Measurement Unit</th>
                <th>Unit Price($)</th>
                <th>Actions</th>
            </thead>

            <tbody>
            
            <% @foods.each do |food|%>
             <tr class="">
    
              <td> <%= link_to controller: 'foods', action: 'show', id: food.id do %><%= food.name %><% end %></td>
              <td ><%= food.measurement_unit %></td>
              <td><%= food.price %></td>
              <td>
                <% if current_user.id  === food.user_id %>
                  <%= link_to 'Delete Food', food_path(food), data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this food?'}, class: 'btn btn-primary' %>
                <% end %>
              </td>
      
            </tr>

           <% end %>
            
            </tbody>
        </table>




  </div>
  