
      <% if @items_to_buy != 0 %>
     <h2 class="mb-4">Shopping Cart</h2>

     <div class="d-flex justify-content-between align-items-start py-4">

        <h4>Amount of food items to buy: <%= @recipe_foods.count %></h4>
        <h4>Total value of food needed: $<%= @needed_money %></h4>

     </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Price($)</th>
            </tr>
        </thead>
        <tbody>
                       <% @recipe_foods.each do |recipe_food| %>
                            <tr>
                                <th><%= recipe_food.food.name %></th>
                                <th><%= (recipe_food.food.quantity - recipe_food.quantity) %></th>
                                <th><%= (recipe_food.food.quantity - recipe_food.quantity) * recipe_food.food.price %></th>
                            </tr>
                     <% end %>

                    </tbody>
                </table>
    <% else %>
        <div class="text-center">
            <p>Kindly go to a recipe to generate a shopping list.</p>
        </div>
    <% end %>



